@page "/"
@using RecipeFrontend.DTOs
@using RecipeFrontend.Services
@inject NavigationManager Navigation
@inject RecipeService recipeService

@if (recipes == null)
{
    <p><em>Loading...</em></p>
}
else if (recipes.Count == 0)
{
    <p>No recipes found.</p>
}
else
{
    <ul>
        @foreach (var recipe in recipes)
        {
            <div class="card mb-3">
                <div class="card-body">
                     <h5 class="card-title">@recipe.Title</h5>
                    <p class="card-text">@recipe.Description</p>
                    <p class="card-text text-muted">By @recipe.UserFullName</p>
                    <a class="btn btn-primary" href="/recipes/@recipe.Id">View Recipe</a>
                </div>
            </div>
        }
    </ul>
    <div>
        <a class="btn btn-primary" href="/recipes/add">Add Recipe</a>
    </div>
}

@code {
    private List<RecipeDto>? recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await recipeService.GetAllRecipesAsync();
    }
}
